
header
	width: 100%
	display: flex
	justify-content: space-around
	height: 60px
	border-bottom: 2px solid #d1d1d1
	position:fixed
	top: 0
	background: #1663e0
	form
		width : 45%
		input
			width: 55%
			background: white
			height: 100%
		input:active
			border: red
		input[type="submit"]
			width: 45%
			background: #a2f772
	