

main 
	color: $primary
	display: flex
	justify-content: center
	text-align: center
	width: 100%
	margin: 20px 0 0 0
	ul
		width: 60%
			border: 4px double black
			background: #fc3
			padding: 10px
		li 
			display: flex
			Justify-content: space-between

		li:nth-child(odd)
			background: #9ec3ff

		li:nth-child(even)
			background: #4a80d6